<html>
	<head>
	<title>All Participant</title>
	</head>
	<body>
		<style>
		 body {
                background-color: 1B2631;
              }
		</style>
		<fieldset>
						<font color="#CACFD2">
						<font face ="Garamond">
                        <p style="font-size:45px;" >
						<span style="margin-left:9em"></span>
						Welcome To Online Voting
						<hr>
						<font color="#1EC0C5">
						<font face ="Garamond">
                        <p style="font-size:30px;" >
						<span style="margin-left:18.5em"></span>
						Admin Control
						<hr>
						<br>
						<a href="/admin/showallvoter" name=" Voter"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Voter</a>
						<a href="/admin/showallparticipant" name=" Participant"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Participant</a>
						<a href="/vote" name=" Current Vote"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Current Vote</a>
						<a href="/admin/showalladmin" name=" Admin"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Admin</a>
						<a href="/admin/approval" name=" Admin"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Approval list</a>
						<a href="/logout" name=" Logout"   style=" font-size:20px;color:#6BAEDC;margin-left:8em">Logout</a>
						<br></br><br></br>
						<table>
							<% for(var i = 0; i < catlist.length; i++) {%>
							<tr>
								<th>
								<font color="#1FCB9C">
								<p style="font-size:20px;" >
								<span style="margin-left:8em"></span>
								<%= catlist[i].NID %>
								<hr>
								</th>
								<th>
								<font color="#1FCB9C">
								<p style="font-size:20px;" >
								<span style="margin-left:8em"></span>
								<%= catlist[i].Name %>
								<hr>
								</th>
								<th>
								<font color="#1FCB9C">
								<p style="font-size:20px;" >
								<span style="margin-left:8em"></span>
								<a href="/admin/details/<%=catlist[i].NID %>" style="color:#6BAEDC">Details</a>
								<hr>
								</th>
								<th>
								<font color="#1FCB9C">
								<p style="font-size:20px;" >
								<span style="margin-left:8em"></span>
								<% if(catlist[i].persontypeid =='3') { %>
								<a href="/admin/addasavoter/<%=catlist[i].NID %>" style="color:#6BAEDC">Remove from candidate</a>
								<% } 
								else { %>
								<a href="/admin/addasavoter/<%=catlist[i].NID %>" style="color:#6BAEDC">Remove from admin</a>
								<% } %>
								 
								<hr>
								</th>
							</tr>
							<% } %>
						</table>
						
		</fieldset>
	</body>
</html>